<!-- 往期内容 -->

<div class="item">
    <!-- 日期 -->
    <div class="mark" ng-show="isLoaded">{{date|date:'MMM dd'}}</div>

    <ul class="posts">
        <!-- 文章 -->
        <li ng-repeat="item in list">
            <!-- 顶部TAG灰色标签-->
            <span ng-if="item.column.name" href="javascript:;" class="tag">{{item.column.name}}</span>

            <div class="cont">
                <!-- 标题 -->
                <h3>{{item.title}}</h3>

                <div class="brief">
                    <!-- 10001 10002 有此内容 -->
                    <p ng-class={only:item.display_style==10001} ng-if="item.display_style != 10003">{{item.abstract}}</p>

                    <!-- 10003 有此内容 -->
                    <div ng-if="item.display_style == 10003" class="gallery">
                        <!-- 共有三张图片 继续ng-repeat遍历图片 -->
                        <div ng-repeat="thumb in item.thumbs" class="img-box">
                            <img ng-src="{{thumb.small.url}}" alt="">
                        </div>
                    </div>

                    <!-- 10002 有此内容 -->
                    <div ng-if="item.display_style == 10002" class="thumb">
                        <img ng-src="{{item.thumbs[0].small.url}}" alt="">
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>
