<!-- 今日一刻 -->

<div class="item">
    <!-- 日期分类 -->
    <div class="mark" ng-show="isLoaded">{{date|date:'MMM dd'}}</div>

    <ul class="posts large">
        <!-- 内容列表中的item -->
        <li ng-repeat="item in list">

            <!-- 顶部TAG灰色标签-->
            <span href="javascript:" class="tag" ng-if="item.column.name">{{item.column.name}}</span>

            <div class="cont">
                <!-- 标题 -->
                <h3>{{item.title}}</h3>

                <div class="brief">
                    <!-- 10001 和 10002 -->
                    <p ng-class={only:item.display_style==10001}
                       ng-if="item.display_style != 10003">{{item.abstract}}</p>

                    <!-- img的src属性 需要设置为 ng-src="" 防止浏览器默认加载 -->
                    <!-- 10002 -->
                    <div class="thumb" ng-if="item.display_style==10002">
                        <img ng-src="{{item.thumbs[0].small.url}}" alt="">
                    </div>

                    <!-- 10003 -->
                    <div class="gallery" ng-if="item.display_style==10003">
                        <img ng-src="{{item.thumbs[0].small.url}}" alt="">
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>